{% extends 'babymain.html' %}
{% load picture_tags %}
{% url "group" as url_group %}

{% block main %}
            <!-- Sidebar Links -->
            <ul class="list-unstyled components">
              <p>时间轴</p>
              <li>
                <a href="{% url 'baby:babyindex' %}">最新</a>
              </li>
              {% get_ages as age_list %}
                {% for age in age_list %}
                    <li {% if age.name == cur_age.name %} class = "active" {% endif %}><a id="sparkley" href="{% url 'baby:age' age.pk %}">{{ age.name }}(共 {{ age.picture_set.count }} 张)</a></li>
                {% endfor %}
            </ul>
            <ul class="list-unstyled CTAs">
            <li><img src="{{ cur_age.bgurl }}" width="200"></li>
            </ul>
            <!-- <div id="s1"><img src="https://yyp666.github.io/tuchuang/yunqi/bg.gif"></div> -->
        </nav>

        <div id="content">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            {% for group in group_list %}
                            <li {% if group.name == recent_group.name %} class="nav-item active" {% endif %}>
                                <a class="nav-link" href="{% url 'baby:group' group.pk %}">{{ group.name }}</a>
                            </li>
                            {% empty %}
                                <div class="no-post">暂时还没有分组！</div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
    {% for picture in pic_list %}
    <div class="media">
        <a href="{{ picture.picurl }}" class="without-caption image-link mr-3">
            <img src="{{ picture.tinypicurl }}"/>
        </a>
        <div class="media-body">
            <h3 class="mt-0">{{ picture.title }}</h3>
            {{ picture.body }}
        </div>
    </div>
    {% empty %}
        <div class="no-post">暂时还没有发布的照片！</div>
    {% endfor %}
{% endblock main %}