{% extends 'babymain.html' %}
{% load staticfiles %}

{% block main %}
  <div class="container">
    <header>
      <nav class="codrops-demos">
        <a href="/baby">手动切换</a>
        <a class="current-demo" href="/babyauto">自动切换</a>
      </nav>
    </header>

    <section id="dg-container" class="dg-container">
      <div class="dg-wrapper">
        <a href="{% static 'blog/images/1.jpg' %}" class="without-caption image-link">
          <img src="{% static 'blog/images/1.jpg' %}" alt="image01" width="800" height="600"><div>2018/07/30第十五周</div>
        </a>
        <a href="#"><img src="{% static 'blog/images/2.jpg' %}" alt="image02"><div>2018/07/30第十五周</div></a>
        <a href="#"><img src="{% static 'blog/images/3.jpg' %}"><div>2018/08/30第十九周</div></a>
        <a href="#"><img src="{% static 'blog/images/4.jpg' %}"><div>2018/08/30第十九周</div></a>
        <a href="#"><img src="{% static 'blog/images/5.jpg' %}"><div>2018/09/28第二十三周</div></a>
      </div>
    </section>
{% endblock main %}
{% block toc %}
{% endblock toc %}